/*
    Yellow Sea
    #F4AC04

    Mine Shaft
    #3C3C3C

    Dusty Gray
    #949494

    Gray
    #8C8C8C
*/
body,
table {
	font-size: 0.88em;
	font-family: "Poppins", sans-serif;
	color: rgb(163, 160, 145);
}

.wsp-button,
.wsp-button:hover {
	display: flex;
	align-items: center;
	align-content: center;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: white;
	text-decoration: none;
	background: #25d366;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
	font-family: "Libre Baskerville", serif;
}

.grid-container {
    display: grid;
    grid-template: "header" "inicio" "quienes-somos" "asesor" "servicios" "tribunales" "contactenos" "mapa" "footer";
}

/* Header */

.header {
    grid-area: header;
}

.bg-dark-1 { 
    background-color: #1f1f1f;
}

.nav-logo {
    display: block;
    width: auto;
    max-height: 50px;
}

.navbar-toggler-icon {
    background-image: url(/images/header/descarga.svg);
}

.navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .1);
}

.navbar-nav {
    font-size: 0.88em;
	font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55);
}

/* Inicio */

.inicio {
    grid-area: inicio;
}

.inicio-logo {
    max-width: 170px;
}

.inicio-logo {
    max-width: 170px;
}

.m-auto-logo {
    margin-left: 98px;
    margin-right: 98px;
}

.btn-secondary {
    background-color: #3c3c3c;
}

.btn {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
	border-radius: 2px;
    padding: 12px 30px;
    border: 0;
}

/* Quienes somos */

#quienessomos {
    grid-area: quienes-somos;
}

.aboutus-img {
	width: 350px;
	height: 350px;
	border-radius: 200px;
	object-fit: cover;
	display: block;
	margin: auto;
}

/* Asesoramiento */

.hero-bg {
    grid-area: asesor;
    width: 100%;
}

.hero-overlay {
	background: rgba(25, 22, 20, 0.7);
    height: 75vh;
    display: flex;
    text-align: center;
    align-items: center;
}

.hero-bg {
	background: url("/images/asesor/hero-bg.jpg") center center no-repeat;
	background-size: cover;
    max-height: 75vh;
}

/* Servicios */

.servicios {
    grid-area: servicios;
    width: 100%;
}

#servicios {
    display: flex;
    flex-direction: column;
}

.service-icon {
    width: 80px;
    height: 80px;
    opacity: .6;
    margin: auto;
    display: block;
}

/* Tribunales */

.tribunales {
    grid-area: tribunales;
    width: 100%;
    max-height: 50vh;
    background: url("/images/tribunales/tribunales-bg.jpg") right center no-repeat;
	background-size: cover;
}

.tribunales-text { 
    height: 50vh;
    display: flex;
    align-items: center
}
 
/* Contacto */

#contactenos {
    grid-area: contactenos;
    width: 100%;
}

.vertical-center {
    display: flex;
    align-items: center;
    align-content: center;
}

.btn {
	border-radius: 2px;
	padding: 12px 30px;
	border: 0;
}

.btn-secondary {
	background: #3c3c3c;
}

/* Mapa */

.mapa {
    grid-area: mapa;
}

/* Footer */

.footer {
    grid-area: footer;
    width: 100%;
    background-color: #3c3c3c;
}


@media (min-width: 992px) {
    
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-direction: row-reverse;
    }

    .container, .container-fluid {
        padding: 0 !important;
    }

    .inicio {
        margin-top: 5rem !important;
    }

    .d-lg-none {
        display: block!important;
    }
}

