.grid-container {
    display: grid;
    grid-template: "hader" "inicio";
}


/* Header */

.header {
    grid-area: header;
}

.bg-dark-1 { 
    background-color: #1f1f1f;
}

.nav-logo {
    display: block;
    width: auto;
    max-height: 50px;
}

.navbar-toggler-icon {
    background-image: url(/images/header/descarga.svg);
}

.navbar-toggler {
    color: rgba(255, 255, 255, .55);
    border-color: rgba(255, 255, 255, .1);
}

.navbar-nav {
    font-size: 0.88em;
	font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, .55);
}

/* Inicio */

.inicio {
    grid-area: inicio;
}

.inicio-logo {
    max-width: 170px;
}

.inicio-logo {
    max-width: 170px;
}

.m-auto-logo {
    margin-left: 98px;
    margin-right: 98px;
}

.btn-secondary {
    background-color: #3c3c3c;
}

.btn {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
	border-radius: 2px;
    padding: 12px 30px;
    border: 0;
}